<div class="container" id="home"  >
    <div id="headSection" class="top-case">
        <div @fadeIn class="left-box" >
            <p  *ngIf="visible" class="left">Hi,<br> I'm <span class="purple"> Daniel</span> Pozzan<br> Front End <span class="bluegreen">developer</span></p>
            <a href="#contact" *ngIf="visible" class="neon-button">Contact me</a>
        </div>
        <div  class="right-box">
            <img src="./assets/img/headphoto.webp" alt="">
        </div>
        
    </div>
    <a href="#skills-container" class="arrow-button"></a>

    <canvas id="canvas"></canvas>

</div>