<div id="contact" class="container">
    <div class="contact-headline">
        <h2 data-aos="flip-left">Contact me.</h2>
        <p data-aos="flip-right">Get in touch via the form below, or by emailing <span>mail@daniel-pozzan.com</span></p>
    </div>
    <!-- <form action="https://daniel-pozzan.com/sendMail.php" method="POST"> -->
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        
        <label [ngClass]="{'invalid': !name.valid && name.touched}" data-aos="fade-right" for="name">Name<span *ngIf="!name.valid && name.touched"> - Please enter a name</span></label>
        <input #name="ngModel" [ngClass]="{'invalid': !name.valid && name.touched}" [(ngModel)]="contactData.name" name="name" data-aos="fade-right" id="name" type="text" placeholder="Enter your name" required>
        <label [ngClass]="{'invalid': !email.valid && email.touched}"  data-aos="fade-left" for="email">Email adress<span *ngIf="!email.valid && email.touched"> - Please enter a valid email</span></label>
        <input #email="ngModel" [ngClass]="{'invalid': !email.valid && email.touched}" [(ngModel)]="contactData.email" name="email" data-aos="fade-left" id="email" type="email" placeholder="Enter your Email adress" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
        <label data-aos="fade-right" for="message" [ngClass]="{'invalid': !message.valid && message.touched}" >Message <span *ngIf="!message.valid && message.touched"> - Please enter a message</span></label>
        <textarea  #message="ngModel" [ngClass]="{'invalid': !message.valid && message.touched}" [(ngModel)]="contactData.message" name="message" data-aos="fade-right" id="message" cols="30" rows="10" placeholder="Enter your message" required></textarea>
        <div data-aos="fade-left" class="button-box">
            <button type="submit">Send</button>
        </div>
    </form>
    <p id="sendedEmail" class="sended_email d-none">Thank you for your message! I will answer you as soon as possible</p>

</div>
